*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: logo;
    src: url(./fonts/RussoOne-Regular.ttf);
}

main{
    width: 100%;
    height: 100%;
    background: url(imgs/bg-trail1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;   
}


nav{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    width: 50%;
    /* background-color: aqua; */
}
#logo img{
    width: 400px;
 
}

#navmid{
    width: 50%;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navmid h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
  
}
#Home{
    padding: 5px;
    transition: ease-out 1.5s;
}
#Home:hover{
    border-bottom: 1px solid cyan;
}


#About{
    padding: 5px;
    transition: ease-out 1.5s;
}
#About:hover{
    border-bottom: 1px solid cyan;
}

#Project{
    padding: 5px;
    transition: ease-out 1.5s;
}
#Project:hover{
    border-bottom: 1px solid cyan;
}
#Services{
    padding: 5px;
    transition: ease-out 1.5s;
}
#Services:hover{
    border-bottom: 1px solid cyan;
}

#Contact{
    padding: 5px;
    transition: ease-out 1.5s;
}
#Contact:hover{
    border-bottom: 1px solid cyan;
}

#navend{
    width: 50%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#navend button{
    padding: 10px 30px;
    background-color: black;
    color: white;
    border: 1px solid cyan;
    border-radius: 50px;
}

header{
    margin-top:20px;
    width: 100%;
    height: 55%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#start{
    width: 40%;
    height: 100%;
    /* background-color: blue; */
    padding: 30px;
font-family: Arial, Helvetica, sans-serif;
color: white;
}
#start h4{
/* color: cyan; */
color: #42F5E6;
}
#start h1{
    font-size: 7.2em;
    margin-top: 20px;
    line-height: 100px;
    font-family: logo;
    font-weight: 200
}
#bli{
color: cyan;
}
#start h3{
    font-weight: 100;
    margin-top: 10px;
    font-size: 1.6em;
}
#start p{
    margin-top: 20px;
    font-size: 0.8em;
}


#mid{
    width: 20%;
    height: 100%;
    /* background-color: greenyellow; */
    
}
#end{
    width: 40%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.content{
    text-align: left;
    gap: 25px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: crimson; */
}
.content i{
    font-size: 2em;
    font-weight: 100;
    /* background-color: #42F5E6; */
    padding: 10px;
    border: 1px solid cyan;
    border-radius: 50%;
    color: cyan;
}
.content h4{
    color: white;
    font-family: logo;
    font-size: 1em;
}