*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
@font-face {
    font-family: logo;
    src: url(./fonts/RussoOne-Regular.ttf);
}

main{
    width: 100%;
    height: 100%;
    background: url(imgs/bg-trail1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;   
}


nav{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    width: 50%;
    /* background-color: aqua; */
}
#logo img{
    width: 400px;
 
}

#navmid{
    width: 50%;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navmid h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
  
}
#Home{
    padding: 5px;
    transition: ease-out 1.5s;
}
#Home:hover{
    border-bottom: 1px solid cyan;
}


#About{
    padding: 5px;
    transition: ease-out 1.5s;
}
#About:hover{
    border-bottom: 1px solid cyan;
}

#Project{
    padding: 5px;
    transition: ease-out 1.5s;
}
#Project:hover{
    border-bottom: 1px solid cyan;
}
#Services{
    padding: 5px;
    transition: ease-out 1.5s;
}
#Services:hover{
    border-bottom: 1px solid cyan;
}

#Contact{
    padding: 5px;
    transition: ease-out 1.5s;
}
#Contact:hover{
    border-bottom: 1px solid cyan;
}

#navend{
    width: 50%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#navend button{
    padding: 10px 30px;
    /* background-color: black; */
    color: white;
    border: 1px solid cyan;
    border-radius: 50px;

    background: linear-gradient(

        90deg,

        rgba(10, 15, 20, 0.95) 0%,

        rgba(20, 35, 40, 0.95) 45%,

        rgba(66, 245, 230, 0.35) 100%

    );

    box-shadow:

        0 0 10px rgba(66, 245, 230, 0.35),

        0 0 25px rgba(66, 245, 230, 0.15);

    backdrop-filter: blur(8px);
}

header{
    margin-top:20px;
    width: 100%;
    height: 55%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#start{
    width: 40%;
    height: 100%;
    /* background-color: blue; */
    padding: 30px;
font-family: Arial, Helvetica, sans-serif;
color: white;
}
#start h4{
/* color: cyan; */
color: #42F5E6;
}
#start h1{
    font-size: 7.2em;
    margin-top: 20px;
    line-height: 100px;
    font-family: logo;
    font-weight: 200
}
#bli{
color: cyan;
}
#start h3{
    font-weight: 100;
    margin-top: 10px;
    font-size: 1.6em;
}
#start p{
    margin-top: 20px;
    font-size: 0.8em;
}


#mid{
    width: 20%;
    height: 100%;
    /* background-color: greenyellow; */
    
}
#end{
    width: 40%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.content{
    text-align: left;
    gap: 25px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: crimson; */
}
.content i{
    font-size: 2em;
    font-weight: 100;
    /* background-color: #42F5E6; */
    padding: 10px;
    border: 1px solid cyan;
    border-radius: 50%;
    color: cyan;

    background: linear-gradient(

        90deg,

        rgba(10, 15, 20, 0.95) 0%,

        rgba(20, 35, 40, 0.95) 45%,

        rgba(66, 245, 230, 0.35) 100%

    );

    box-shadow:

        0 0 10px rgba(66, 245, 230, 0.35),

        0 0 25px rgba(66, 245, 230, 0.15);

    backdrop-filter: blur(8px);
}
.content h4{
    color: white;
    font-family: logo;
    font-size: 1em;
}

#endpoint{
    width: 100%;
    height: 10%;
    /* background-color: #42F5E6; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;

}
#end1{
    height: 100%;
    width: 20%;
/* background-color: red; */
display: flex;
justify-content: center;
align-items: center;
}
#end1 button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    border: 1px solid cyan;
    border-radius: 10px;
    color: white;
    /* background-color: transparent; */
    gap: 20px;

    background: linear-gradient(

        90deg,

        rgba(10, 15, 20, 0.95) 0%,

        rgba(20, 35, 40, 0.95) 45%,

        rgba(66, 245, 230, 0.35) 100%

    );

    box-shadow:

        0 0 10px rgba(66, 245, 230, 0.35),

        0 0 25px rgba(66, 245, 230, 0.15);

    backdrop-filter: blur(8px);
}

#end2{
    gap: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 100%;
    /* background-color: yellow; */
}
#end2 i{
color: white;
font-size: 2em;
/* background: red; */
padding: 5px;
border: 1px solid cyan;
border-radius: 50%;
}

#end2 h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

#compo{
    margin-top: 40px;
    width: 100%;
    border-radius: 20px;
    height: 19%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center ;
    padding: 10px;
    background: rgba(10, 20, 30, 0.35);

    backdrop-filter: blur(18px);

    -webkit-backdrop-filter: blur(18px);

    border: 1px solid rgba(255,255,255,0.08);

    box-shadow:

    inset 0 1px 1px rgba(255,255,255,0.08),

    0 8px 32px rgba(0,0,0,0.45);
    
}

#sta{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sta img{
width: 350px;
height: 250px;
position: absolute;
}
#mi{
    width: 60%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ma{
    border: 1px solid rgb(49, 49, 49);
   width: 100%;
   height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 text-align: center;
 border-top: none;
 border-bottom: none;
}
.ma:nth-child(1){
    border-left: none;
}
.ma:nth-child(4){
    border-right: none;
}
.ma h3{
    font-family:logo;
    font-size: 2em;
    color: #42F5E6;
    font-weight: 100;
}
.ma p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
}

#en{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#en img{
width: 300px;
height: 250px;
position: absolute;
}




section{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    margin-top: 30px;

}

#nav2{
    width: 100%;
    /* background-color: red; */
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#part1{
    width: 80%;
    height: 100%;
    /* background-color: yellow; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#part1 h4{
font-family:logo;
font-weight: 100;
color: cyan;
font-size: 1.5em;
}
#part1 h2{
font-family:logo;
font-weight: 100;
color: white;
font-size: 3em;
}

#part2{
    width: 20%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 2em;
    font-weight: 100;
}
#part2 i{
    /* background-color: red; */
    padding: 10px;
    border: 1px solid cyan;
    border-radius: 50%;
color: cyan;
}

